<!DOCCTYPE html>
<head>
	<title>test</title>
	<style>
		iframe {
			width: 600px;
			height: 400px;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<script>
var wordApp = angular.module('wordApp', []);
wordApp.controller('wordCtrl', ['$scope', '$window', function($scope, $window) { 

	var dict = {
		'doc': 'https://view.officeapps.live.com/op/embed.aspx?src=https://s3-ap-southeast-1.amazonaws.com/cckm-test/labor.doc',
		'docx': 'https://view.officeapps.live.com/op/embed.aspx?src=https://s3-ap-southeast-1.amazonaws.com/cckm-test/labor.docx',
		'pdf': 'https://docs.google.com/gview?url=https://s3-ap-southeast-1.amazonaws.com/cckm-test/labor.pdf&embedded=true'
	};

	$scope.open = function(type) {
		url = dict[type];
		$('#myFrame').attr('src', url);
	};

	$scope.close = function() {
		$('#myFrame.').attr('src', '');
	};
}]);

</script>

<div ng-app="wordApp" ng-controller="wordCtrl" id="controller">
	<div class="container">
		<button class='btn btn-primary btn-xs' ng-click="open('doc')">doc</button>
		<button class='btn btn-primary btn-xs' ng-click="open('docx')">docx</button>
		<button class='btn btn-primary btn-xs' ng-click="open('pdf')">pdf</button>
	</div>

	<div class="container">
		<h1>iFrame:</h1>
		<iframe id="myFrame" src=""></iframe>
	</div>


</div>


</body>
</html>

